<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Subscriptions</title>
</head>

<body>
    <button onclick="getSubscriptions()">Get My Subscriptions</button>
    <input type="button" value="getSubscriptions" id="submit" onclick="validate4()" />
    <script>
        const getSubscriptions = async () => {
            try {
                let res = await
                    axios.get("http://localhost:3000/api/cost/subscriptions");

                document.getElementById("test5").innerHTML = JSON.stringify(
                    res.data,
                    null,
                    4
                );
                console.log(res.data.error)
            } catch (err) { console.log(err) }

        }
    </script>
</body>

</html>